PORT=port_number
DB_URL=db_url

# NODE_ENV=production
NODE_ENV=development


# JWT ACCESS SECRET
JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRES=days

# JWT REFRESH SECRET
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRES=days

# ADMIN
ADMIN_PASSWORD=admin_password
ADMIN_EMAIL=admin_email

# for password hash salt
BCRYPT_SALT_ROUND=rouondOfNumber

# App Password
APP_PASSWORD=app_password

# cloudinary
CLOUD_NAME=cloude_name
CLOUD_API_KEY=cloude_api_key
CLOUD_API_SECRET=cloude_api_secret

# stirpe
WEB_HOOK_SECRET=WEB_HOOK_SECRET
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY



# firebase config for push notificaiton
UNIVERSE_DOMAIN=UNIVERSE_DOMAIN
CLIENT_X509_CERT_URL=CLIENT_X509_CERT_URL
AUTH_PROVIDER_X509_CERT_URL=AUTH_PROVIDER_X509_CERT_URL
TOKEN_URI=TOKEN_URI
AUTH_URI=AUTH_URI
CLIENT_ID=CLIENT_ID
CLIENT_EMAIL=CLIENT_EMAIL
PRIVATE_KEY=PRIVATE_KEY
PRIVATE_KEY_ID=PRIVATE_KEY_ID
PROJECT_ID=PROJECT_ID
TYPE=TYPE