PORT=port_number
DB_URL=db_url

# NODE_ENV=production
NODE_ENV=development


# JWT ACCESS SECRET
JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRES=days

# JWT REFRESH SECRET
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRES=days

# ADMIN
ADMIN_PASSWORD=admin_password
ADMIN_EMAIL=admin_email

BCRYPT_SALT_ROUND=rouondOfNumber

# App Password
APP_PASSWORD=app_password

# cloudinary

CLOUD_NAME=cloude_name
CLOUD_API_KEY=cloude_api_key
CLOUD_API_SECRET=cloude_api_secret


WEB_HOOK_SECRET="WEB_HOOK_SECRET"
STRIPE_SECRET_KEY="STRIPE_SECRET_KEY"